
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');

body{
  background: #000;
}
h5 {
font-size: 3rem;

}

.carousel-caption {
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 4rem;
  color: whitesmoke;
}