
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');

body{
  background: #000;
}
h5 {
font-size: 3rem;

}

.carousel-caption {
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 2rem;
  color: whitesmoke;
 
}
.alert-danger {
  color: #4a738f;
  background-color: #a8dafc;
  border-color: #7191e9;
  margin-bottom:0px;
}

.alert-danger .alert-link {
  color:dodgerblue;
}

.card{
  margin-top: 100px;
padding: 2rem;
text-decoration: none;
height: auto;
}