


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Tegomin&family=Roboto+Mono:wght@300&family=Zilla+Slab+Highlight&family=Zilla+Slab:wght@300&display=swap');
section.jumbotron {
  height: 20rem;
  background-size: cover;
  background-position: center;
}

.leadPhrase {

  font-size: 4rem;
text-align: center;
font-family: 'Bebas Neue', cursive;

}

.text-white {
  color: #ededed !important;
}

.bg-transparent {
  background-color: rgba(20, 20, 20, 0.7) !important;
}


img {
  max-width: 100%;
}

.featurette-heading{

  font-family: 'Zilla Slab', serif;

}
.lead {
  
  font-family: 'Roboto Mono', monospace;
  text-align: justify;

}